.Dictionary input {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
    font-size: 18px;
    padding: 3px 10px;
}

.Dictionary hr {
    margin-top: 40px;
    border: 2px solid #000000;
    opacity: 1;
}